/* Обнуление */
 
html {
  box-sizing: border-box;
 }
 *, *::before, *::after {
  box-sizing: inherit;
 }
 img {
  display: block;
 }
 h1, h2, h3, h4, h5, h6, p, ul, li, a {
  padding: 0;
  margin: 0;
 }
 body {
  margin: 0;
  padding: 0;
 }
 
 /* Переменные с цветами */
 
 :root {
  --darck-color: #070707;
  --white-color: #fff;
  --gray-color: #828282;
  --gray_bg-color: #f6f6f6;
 }
 
 /* Стили для текста */
 
 .text_h1 {
  font-family: 'GilroyBold';
  font-size: 47.34px;
  line-height: -1px;
  text-align: left;
  color: var(--darck-color);
 }
 .text_h2 {
  font-family: 'GilroyBold';
  font-size: 34px;
  line-height: -1px;
  text-align: center;
 }
 .text_h3 {
  font-family: 'GilroyBold';
  font-size: 14px;
  line-height: -1px;
  text-align: center;
 }
 .text_p {
  font-family: 'GilroyMedium';
  font-size: 18px;
  line-height: -1px;
  text-align: center;
 }
 
 /* Контэйнер */
 
 .container {
  max-width: 945px;
  margin: 0 auto;
 }

 /* Header */
 
 .header_navmenu {
  padding-top: 33.05px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid var(--gray-color);
}
.header_navmenu__item {
  margin-bottom: 31.86px;

}
.header_navmenu__item a {
  color: var(--gray-color);
  text-decoration: none;
  font-family: 'GilroyBold';
  font-size: 18px;
}
.header_navmenu__item a:hover {
  color: var(--darck-color);
}
.header_firstscreen__ {
}
.header_firstscreen__content {
  padding-top: 35.69px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 46px;
}
.header_firstscreen__title {
  max-width: 123.51px;
}
.header_firstscreen__text {
  max-width: 151px;
  text-align: left;
  margin-bottom: 9px;
}
.header_firstscreen__language {
  padding-top: 61px;
  transform: rotate(270deg); 
  margin-right: 8px;
}
.header_firstscreen__language a {
  font-family: 'GilroyBold';
  font-size: 16px;
  color: var(--gray-color);
  text-decoration: none;
}
.header_firstscreen__language a:hover {
  color: var(--darck-color);
}
.header_firstscreen__bg {
  margin-bottom: 104px;
}
/* About */
.about {
  padding-top: 115px;
  background-color: var(--gray_bg-color);
}
.about_title {
  margin-bottom: 25px;
}
.about_text__inner {
  padding-bottom: 65px;
}
.about_text {
  max-width: 435px;
  margin: 0 auto 46px;
}
/* Skills */
.skiils {
  padding-top: 86px;
}
.skiils_title {
  margin-bottom: 59px;
}
.skiils_subtitle {
  margin-bottom: 87px;
}
.skiils_items__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  gap: 90px;
  margin-bottom: 114px;
}
.skiils_item {
}
.skiils_icon {
  margin: 0 auto 23px;
}
.skiils_item__title {
  max-width: 80px;
  margin: 0 auto 40px;
}
.skiils_item:last-child .skiils_item__title {
  margin-bottom: 55px;
}
.skiils_stars {
  display: flex;
  justify-content: space-around;
}
/* Portfolio */
.portfolio {
  padding-top: 108px;
  background-color: var(--gray_bg-color);
  padding-bottom: 98px;
}
.portfolio_title {
  margin-bottom: 56px;
}
.portfolio_cards {
}
.portfolio_card:last-child .portfolio_card__link {
  margin-bottom: 0;
}
.portfolio_card__img {
  margin-bottom: 44px;
}
.portfolio_card__link {
  display: block;
  color: var(--darck-color);
  margin: 0 auto 102px;
}


