/* Обнуление */
 
html {
  box-sizing: border-box;
 }
 *, *::before, *::after {
  box-sizing: inherit;
 }
 img {
  display: block;
 }
 h1, h2, h3, h4, h5, h6, p, ul, li, a {
  padding: 0;
  margin: 0;
 }
 body {
  margin: 0;
  padding: 0;
 }
 
 /* Переменные с цветами */
 
 :root {
  --darck-color: #070707;
  --white-color: #fff;
  --gray-color: #828282;
  --gray_bg-color: #f6f6f6;
 }
 
 /* Стили для текста */
 
 .text_h1 {
  font-family: 'GilroyBold';
  font-size: 47.34px;
  line-height: -1px;
  text-align: left;
  color: var(--darck-color);
 }
 .text_h2 {
  font-family: 'GilroyBold';
  font-size: 34px;
  line-height: -1px;
  text-align: center;
 }
 .text_h3 {
  font-family: 'GilroyBold';
  font-size: 14px;
  line-height: -1px;
  text-align: center;
 }
 .text_p {
  font-family: 'GilroyMedium';
  font-size: 18px;
  line-height: -1px;
  text-align: center;
 }
 
 /* Контэйнер */
 
 .container {
  max-width: 945px;
  margin: 0 auto;
 }

 /* Header */
 
 .header_navmenu {
  padding-top: 33.05px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid var(--gray-color);
}
.header_navmenu__item {
  margin-bottom: 31.86px;

}
.header_navmenu__item a {
  color: var(--gray-color);
  text-decoration: none;
  font-family: 'GilroyBold';
  font-size: 18px;
}
.header_navmenu__item a:hover {
  color: var(--darck-color);
}
.header_firstscreen__ {
}
.header_firstscreen__content {
  padding-top: 35.69px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 46px;
}
.header_firstscreen__title {
  max-width: 123.51px;
}
.header_firstscreen__text {
  max-width: 151px;
  text-align: left;
  margin-bottom: 9px;
}
.header_firstscreen__language {
  padding-top: 61px;
  transform: rotate(270deg); 
  margin-right: 8px;
}
.header_firstscreen__language a {
  font-family: 'GilroyBold';
  font-size: 16px;
  color: var(--gray-color);
  text-decoration: none;
}
.header_firstscreen__language a:hover {
  color: var(--darck-color);
}
.header_firstscreen__bg {
}
